{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="overlape">
	<div class="block no-padding">
		<div data-velocity="-.1" style="background: url({% static 'images/resource/mslider1.jpg' %}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
		<div class="container fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="inner-header">
						<h3>Welcome {{ request.user.username }}</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

	<section>
		<div class="block no-padding">
			<div class="container">
				 <div class="row no-gape mb-5">
				 	<aside class="col-lg-3 column border-right">
				 		<div class="widget">
				 			<div class="tree_widget-sec">
				 				<ul>
				 					<li><a href="{% url 'core:dashboard' %}" title=""><i class="la la-user"></i>Dashboard</a></li>
				 					<li><a href="{% url 'core:candidate_profile' %}" title=""><i class="la la-file-text"></i>My Profile</a></li>
									<li><a href="{% url 'core:edit_resume' %}" title=""><i class="la la-briefcase"></i>My Resume</a></li>
									<li><a href="{% url 'core:applied_jobs' %}" title=""><i class="la la-paper-plane"></i>Applied Job</a></li>
									<li><a href="{% url 'core:change_password' %}" title=""><i class="la la-flash"></i>Change Password</a></li>
									<li><a href="{% url 'core:logout' %}" title=""><i class="la la-unlink"></i>Logout</a></li>
				 				</ul>
				 			</div>
				 		</div>
				 	</aside>

				 	{% block c_content %}
				 	{% endblock %}
				 </div>
			</div>
		</div>
	</section>


{% endblock %}