{% extends "base.html" %}
{% load static %}

{% block head %}
	<title>Change Password</title>
{% endblock %}

{% block navtype %}
gradient
{% endblock %}

{% block content %}

	<section>
		<div class="block no-padding  gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner2">
							<div class="inner-title2">
								<h3>Change Password</h3>
								<span>Don't worry we respect your privacy</span>
							</div>
							<div class="page-breacrumbs">
								<ul class="breadcrumbs">
									<li><a href="#" title="">Dashboard</a></li>
									<li><a href="#" title="">Change Password</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block remove-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
				 		<div class="padding-left">
					 		<div class="manage-jobs-sec">
					 			{% if error %}
					 				<h3 class="text-danger">{{ error }}</h3>
					 			{% else %}
					 				<h3>Change Password</h3>
					 			{% endif %}
						 		<div class="change-password">
						 			<form class="needs-validation" novalidate method="POST">
						 				{% csrf_token %}
						 				<div class="row">
						 					<div class="col-lg-6">
						 						<span class="pf-title">Old Password</span>
						 						<div class="pf-field">
						 							<input type="password" required="true" name="old" />
						 						</div>
						 						<span class="pf-title">New Password</span>
						 						<div class="pf-field">
						 							<input type="password" required="true" name="new1"  />
						 						</div>
						 						<span class="pf-title">Confirm Password</span>
						 						<div class="pf-field">
						 							<input type="password" required="true" name="new2"  />
						 						</div>
						 						<button type="submit">Update</button>
						 					</div>
						 					<div class="col-lg-6">
						 						<i class="la la-key big-icon"></i>
						 					</div>
						 				</div>
						 			</form>
						 		</div>
					 		</div>
					 	</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
