{% extends "e_base.html" %}
{% load static %}

{% block head %}
	<title>Employer's Profile</title>
{% endblock %}

{% block c_content %}
<div class="col-lg-9 column">
	<div class="padding-left">
 		<form method="POST" enctype="multipart/form-data">
	 		{% csrf_token %}
	 		<div class="profile-title">
	 			<h3>Create A New Job</h3>
	 		</div>
 		<div class="profile-form-edit">
 				<div class="row">
 					<div class="col-lg-12">
 						<span class="pf-title">Job Title</span>
 						<div class="pf-field">
 							<input required type="text" placeholder="title" name="title" value="{{ job.title }}" />
 						</div>
 					</div>
 					<div class="col-lg-6">
 						<span class="pf-title">salary offered</span>
 						<div class="pf-field">
 							<select name="salary_offered" data-placeholder="Allow In Search" class="chosen">
 								<option>{{ job.salary_offered }}</option>
								<option>(0-1000)$</option>
								<option>(1000-5000)$</option>
								<option>(5000-10000)$</option>
								<option>10000$ +</option>
							</select>
 						</div>
 					</div>
 					<div class="col-lg-6">
 						<span class="pf-title">Experience</span>
 						<div class="pf-field">
 							<select name="experience_required" data-placeholder="Allow In Search" class="chosen">
 								<option>{{ job.experience_required }}</option>
								<option>0 to 1 Years</option>
								<option>1 to 3 Years</option>
								<option>3 to 5 Years</option>
								<option>5+ Years</option>
							</select>
 						</div>
 					</div>
 					<div class="col-lg-6">
 						<span class="pf-title">Education Level</span>
 						<div class="pf-field">
 							<select name="education_level" data-placeholder="Allow In Search" class="chosen">
 								<option>{{ job.education_level }}</option>
								<option>High School</option>
								<option>Graduation</option>
								<option>Post Graduation</option>
								<option>Doctorate</option>
							</select>
 						</div>
 					</div>
 					<div class="col-lg-6">
 						<span class="pf-title">Catagory</span>
 						<div class="pf-field">
 							<select name="catagory" data-placeholder="Allow In Search" class="chosen">
 								<option>{{ job.catagory }}</option>
								<option>Full Stack Development</option>
								<option>Frontend Development</option>
								<option>Backend Development</option>
								<option>Wordpress Development</option>
								<option>Ecommerce Development</option>
								<option>Dev Ops</option>
							</select>
 						</div>
 					</div>
 					<div class="col-lg-6">
 						<span class="pf-title">gender</span>
 						<div class="pf-field">
 							<select name="gender" data-placeholder="Allow In Search" class="chosen">
 								<option>{{ job.gender }}</option>
								<option>Male</option>
								<option>Female</option>
							</select>
 						</div>
 					</div>
 					<div class="col-lg-6">
 						<span class="pf-title">job_type</span>
 						<div class="pf-field">
 							<select name="job_type" data-placeholder="Allow In Search" class="chosen">
 								<option>{{ job.job_type }}</option>
								<option>Full Time</option>
								<option>Parttime</option>
								<option>Internship</option>
								<option>Freelance</option>
							</select>
 						</div>
 					</div>
 					<div class="col-lg-6">
 						<span class="pf-title">Country</span>
 						<div class="pf-field">
 							<input required name="country" type="text" placeholder="Country" value="{{ job.country }}"  />
 						</div>
 					</div>
 					<div class="col-lg-6">
 						<span class="pf-title">City</span>
 						<div class="pf-field">
 							<input required name="city" type="text" placeholder="City" value="{{ job.city }}" />
 						</div>
 					</div>

 					<div class="col-lg-12">
 						<span class="pf-title">Description</span>
 						<div class="pf-field">
 							<textarea required name="description">{{ job.description }}</textarea>
 						</div>
 					</div>
 				</div>
 				<button type="submit">Submit</button>
 		</div>
	 		</form>
	 	</div>
	</div>

{% endblock %}