body{
	font-family: OpenSans, Arial, Helvetica, sans-serif;
	background-color: #F3F7F7;
}

.navbar{
    background: #39424e!important;
}

.navbar-brand{
	font-family: OpenSans, Arial, Helvetica, sans-serif;
	font-size: 30px;
}

.nav-item{
	margin-left: 25px;
}

.nav-link{
	font-size: 16px;
	color: #b7c9cc!important;
	font-family:OpenSans, Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.nav-link:hover{
	color: white!important;
}


.answer-item:hover{
	background-color: #F3F7F7;
}

.answer-item{
	color: #39424e;
}